@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("../fonts/Roboto/Roboto-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("../fonts/Roboto/Roboto-Italic.ttf") format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("../fonts/Roboto/Roboto-Bold.ttf") format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("../fonts/Roboto/Roboto-BoldItalic.ttf") format('ttf');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("../fonts/Roboto/Roboto-Black.ttf") format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("../fonts/Roboto/Roboto-BlackItalic.ttf") format('ttf');
  font-weight: 900;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("../fonts/Roboto/Roboto-Light.ttf") format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("../fonts/Roboto/Roboto-LightItalic.ttf") format('ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("../fonts/Roboto/Roboto-Medium.ttf") format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("../fonts/Roboto/Roboto-MediumItalic.ttf") format('ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("../fonts/Roboto/Roboto-Thin.ttf") format('ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url("../fonts/Roboto/Roboto-ThinItalic.ttf") format('ttf');
  font-weight: 100;
  font-style: italic;
}
