body {
  background-color: #212324;
  font-family: "Roboto";
  color: white;
  /* min-height: 100%;
  height: 100%; */
  /* position: relative; */
  overflow-x: hidden;
}

.App {

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;

  background: url('../../public/img/honeypotBG.png') no-repeat left center / cover;
background-position: center;
}